:root {
  --main-color: #edc7b7;
  --body-color: #eee2dc;
  --light-color: #424242;
  --blue-color: #123c69;
  --red--color: #ac3b61;
}

.information {
  padding: 5% 20%;
}

.items {
  padding: 1% 3%;
}

.active {
  padding: 1%;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .information {
    padding: 5% 5%;
  }
}

@media screen and (min-width: 800px) {
  .information {
    padding: 5% 20%;
  }
}

.active button {
  font: inherit;
  cursor: pointer;
  background-color: var(--red--color);
  color: white;
  padding: 0.3rem 1rem;
  border: 1px solid #77002e;
  border-radius: 20px;
}

.items .active button:hover,
.items .active button:active {
  background-color: #77002e;
  border-color: #77002e;
}
