:root {
  --main-color: #edc7b7;
  --body-color: #eee2dc;
  --light-color: #424242;
  --blue-color: #123c69;
  --red--color: #ac3b61;
}

@media screen and (min-width: 800px) {
  .searchPanel {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchPanel input {
    font: inherit;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
  }

  .actions button {
    justify-content: center;
    font: inherit;
    cursor: pointer;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid #77002e;
    border-radius: 40px;
    background-color: #a50e48;
    font-weight: bold;
  }

  .actions2 button {
    margin: 1%;
    justify-content: center;
    font: inherit;
    cursor: pointer;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid #77002e;
    border-radius: 40px;
    font-weight: bold;
  }

  .actions button:hover,
  .actions button:active,
  .actions2 button:hover,
  .actions2 button:active {
    background-color: #a50e48;
    border-color: #a50e48;
  }
}

@media screen and (max-width: 800px) {
  .searchPanel {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchPanel input {
    font: inherit;
    width: 100%;
    height: 30px;
    border-radius: 40px;
    border: none;
  }

  .actions button {
    justify-content: center;
    font: inherit;
    cursor: pointer;
    color: white;
    height: 30px;
    padding: 0.5rem 1rem;
    border: 1px solid #77002e;
    border-radius: 40px;
    background-color: #a50e48;
    line-height: 0px;
  }

  .actions2 button {
    margin: 1%;
    justify-content: center;
    font-size: 2px;
    font: inherit;
    cursor: pointer;
    color: white;
    height: 30px;
    padding: 0.5rem 1rem;
    border: 1px solid #77002e;
    border-radius: 40px;
    line-height: 0px;
  }

  .actions button:hover,
  .actions button:active,
  .actions2 button:hover,
  .actions2 button:active {
    background-color: #a50e48;
    border-color: #a50e48;
  }
}

.red {
  background-color: var(--red--color);
}

.lightRed {
  background-color: #a50e48;
}
