:root {
  --main-color: #edc7b7;
  --body-color: #eee2dc;
  --light-color: #bab2b5;
  --blue-color: #123c69;
  --red--color: #ac3b61;
}
.stopBar {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--red--color);
  padding: 0.01% 10%;
}

.stopBar .grid {
  display: grid;
  grid-template-columns: 40% 50% 10%;
}

.stopBar ul {
  list-style: none;
  margin: 0;
  padding-right: 10%;
}

.stopBar a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

.stopBar a:hover,
.stopBar a:active,
.stopBar a.active {
  color: white;
  border-bottom: 3px red solid;
}
